<div >
  <div style="background-color:black; color: white;margin: 0">

  
  <h1  id="title" style="text-align:center" >
    {{ title }}
  </h1>
  <div style="text-align:right; margin-bottom: 0%" class="mat-body">
  <i class="material-icons">
    email
    </i>
     <div style="display:inline-block;vertical-align:middle;padding-bottom: 15px"> &nbsp; sarfrazshaikh14@gmail.com &nbsp;</div>
     <i class="material-icons">
      smartphone  
     </i>
      <span style="display: inline-block; vertical-align:middle;padding-bottom: 15px">
        &nbsp; (+91) 9028605879 &nbsp;&nbsp;
      </span>
    </div>
</div>
<nav mat-tab-nav-bar mat-align-tabs="center" [backgroundColor]="'red'">
    <a mat-tab-link 
    *ngFor="let link of navLinks"
    [routerLink]='link.path'
    routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive"
      style="align-content: center"
    >
    {{link.label}}
    </a>
   



  </nav>

   
    <router-outlet></router-outlet>
    <footer>
      <div class="mat-caption" style="text-align: center">
        Built in Angular 8. Site developed and maintained by me
      </div>
    </footer>
  </div>

   


