<div id="homeConatiner" fxLayout="column" class="mat-body">
  <div style="margin-block: 10px">
    
    <img src="../../assets/dp.jpg" id="dp">
    <p   id="bio">
      Hi, I am Sarfraz A R Shaikh. I have a small family which includes my wife, daughter and my parents living a happy life. 
      I'm in constant pursuite of becoming a family man. I like to do things with utmost integrity and accountability. Believe in contributing and adding value to the task I am invovled.
      <br>Full Stack developer by profession with more than 5 years of experience in software web development.
      My technical stack includes JAVA 8, Spring , JAX-RS, SOAP, Junit with Powermock, WebSocket Angular 2+, HTML 5, CSS 3, Angular Material.
      I like Software development and like to make products that solve real world problem which contribute for the betterment of humanity and world. 
      
    </p >
    <span class="mat-h3">Learn, fall, rise and be better than yesterday</span>
  </div>
  <div>
    <h2 fxLayoutAlign="flex-start">Experience</h2>
    <div>
      <p>
       <b style="color: red">American Burea Of Shipping</b>
        <small>
          -November 2018 to Present
        </small>
      </p>
      <ul>
      <li>Implemented PDF comparison report using Itext 5. Excel report is prepared using Apache POI library
      <li>
        Implemented Least Recently Used (LRU) cache for multithreaded environment
      </li>
      <li>
        Use The Executor Service framework to make an multi threaded application
      </li>
      <li>
        Implemented websocket using Jersey and Tyrus library
      </li>
      <li>
        Extracted data from XFA PDF(XML based editable PDF) using IText 5 library. 
      </li>
    </ul>
      <p>
        
     <b style="color: red">
      Capsilon India Pvt Ltd 
    </b> 
    <small>  -March 2016 to October 2018</small>
      </p>
      <ul>
      <li>
        Implement a Rest based Web service using CXF and Spring framework from scratch
      </li>
      <li>
        Automate Test cases using in JAVA using TestNg and SOAP UI tool.
      </li>
      <li>
          Develop UI component & consuming REST web services using Angular
          4,CSS,Typescript,HTML,Angular material theme,angular/Flex layout  
      </li>
    </ul>
    </div>
    

  </div>
  <div matTooltip="Linkedin profile">
    <h2 fxLayoutAlign="flex-start">Recommendations</h2>
    <a href="https://www.linkedin.com/in/sarfrazshaikh14" target="_blank">

    
    <p >
      Sarfraz is one of the rare breed of Engineers who can be trusted with an end to end responsibility of delivering things.
       He will invest time in understanding the business problem and focus of implementing a clean solution. 
       He has never hesitated to communicate technical spikes or delays but has ensured that the risks are mitigated and deadlines met.
        He enjoys freedom to innovate with right guidance. Fast learner of technologies and constantly pushes himself to achieve perfection. 
        He definitely has a great career ahead. A true asset to any organization and team. Hope to work with him again
    </p>
    <p> -Milind Mathew</p>
    <p> Engineering Manager at Capsilon</p>
  </a>
  </div>
</div>